{% load static %}
  <!-- Footer -->

<footer id="main-footer" class="footer py-4 bg text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-phone"></i>  028 4062 1600
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> contact@laugh&learn.com.uk
      </div>
      <div class="col-md-4" id="socials">
        <div class="social">
          <a href="#">
            <i class="fab fa-twitter" style="color: aqua;"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook" style="color: aqua;"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin" style="color: aqua;"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram" style="color: aqua;"></i>
          </a>
          <a href="#">
            <i class="fab fa-pinterest" style="color: aqua;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
    Copyright &copy;
    <span class="year"></span> Laugh and Learn
  </footer>